.maindiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.emailhead {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

svg {
    width: 65px;
    height: auto;
}

.emaildiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

input {
    border: none;
    outline: none;
    background-color: #d2d7db9d;
    width: 15vw;
    padding: 4px;
    font-size: 1rem;
    border-radius: 4px;
    min-width: 180px;
}

.button {
    background-color: #FF570F;
    border: none;
    color: white;
    width: 7.5vw;
    padding: 4px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    min-width: 100px;
}


@media (max-width: 600px) {
    .emailhead {
        flex-direction: column;
        gap: 10px;
    }

    .emaildiv {
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .text > p{
        font-size: 12px;
    }
    input{
        width: 60%;
    }
}
