.header-navbar {
  background-image: url("../assets/bg-image.png");
  background-size: cover;
  background-position: center;
}

.header-container {
  width: 75vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-logo {
  width: 80px;
  justify-content: center;
}

.navlinkclass{
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  margin-right: 5px;
}

.navlinkclass:hover{
  color: rgb(255, 255, 255) ;
}

.header-right {
  display: flex;
}

.header-flag {
  width: 21px;
  margin-right: 5px;
}
